// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
}

// Reset

img {
    max-width: 100%;
}

.btn {
    box-shadow: none !important;
}

// Button

.btn-primary.active {
    color: #070707 !important;
    background-color: #7EB50C !important;
    border-color: #7EB50C !important;
}

.btn-primary {
    color: #070707 !important;
    background-color: #C5E09B !important;
    border-color: #C5E09B !important;
}

// Color

.text-primary {
    color: #6d75c7 !important;
}


// Typography

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

// Font

h1,
h2,
h3 {
    font-weight: 600;
}

.fw-regular {
    font-weight: 400;
}

// Styles

.program {
    &__card {
        height: 100%;

        &-img {
            height: 160px;
        }
    }
}